//
// Base -> Scaffolding
// --------------------------------------------------

// Misc
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

input,
textarea {
  outline:none;
}

.clearfix {
  @include clearfix();
}

// HTML
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// Body
body {
  //background-color: $base-background;
  //background-size: cover;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  min-width: 1280px;
  min-height: 870px;
  height: 100%;
  position: relative;
}
.fullpage-wrapper {
  min-width: 1280px;
}
// Link
a {
  color: $link-color;
  text-decoration: none;
  @include transition;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}

// Images
img {
  max-width: 100%;
  height: auto;
}
.img--right{
  float:right;
  margin-bottom:  $line-height-computed;
  margin-left: $line-height-computed;
}
.img--left{
  float:left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}
.img--center{
  display:block;
  margin-right:auto;
  margin-bottom: $line-height-computed;
  margin-left:auto;
}