//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: $nav-link-padding;

    > a {
      position: relative;
      display: block;
      color: $light;
      padding: 0;
      &:hover,
      &:focus {
        text-decoration: underline;
        //background-color: $nav-link-hover-bg;
      }
    }
    &.active a {
      text-decoration: underline;
    }
  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

.nav-justified {
  width: 100%;

  > li {
    float: none;
    > a {
      text-align: center;
      margin-bottom: 5px;
    }
  }
  @media (min-width: $screen-sm-min) {
    > li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }
}