//
// Popovers
// --------------------------------------------------


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  display: none;
  width: 450px;
  padding: 1px;
  // Our parent element can be arbitrary since popovers are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  //@include reset-text;
  font-size: $font-size-base;


  //background-color: #000;
  //background-clip: padding-box;
  //border: 1px solid $popover-fallback-border-color;
  //border: 1px solid $popover-border-color;
  //border-radius: $border-radius-large;
  //@include box-shadow(0 5px 10px rgba(0,0,0,.2));

  // Offset the popover to account for the popover arrow
  &.top     { margin-top: 0; }
  &.right   { margin-left: $popover-arrow-width; }
  &.bottom  { margin-top: $popover-arrow-width; }
  &.left    { margin-left: -$popover-arrow-width; }

  .img--left { margin-bottom: 0; }
}

.popover-title {
  margin: 0; // reset heading margin
  //padding: 8px 14px;
  //font-size: $font-size-base;
  float: left;
  //background-color: $popover-title-bg;
  //border-bottom: 1px solid darken($popover-title-bg, 5%);
  //border-radius: ($border-radius-large - 1) ($border-radius-large - 1) 0 0;
}

.popover-content {
  padding: 0;
}

// Arrows
//
// .arrow is outer, .arrow:after is inner

.popover > .arrow {
  &,
  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
}
.popover > .arrow {
  border-width: $popover-arrow-outer-width;
}
.popover > .arrow:after {
  border-width: $popover-arrow-width;
  content: "";
}
