.pull-right.burger.burgerIco
    a(href='#'): img(src="images/burgerIco.png", alt="")
ul.nav.navbar-nav.text-right.pull-right.margtop30.burgerMenu#menu
    //li.active(data-menuanchor="firstPage")
        //a(href='#firstPage')
    li.active(data-menuanchor="3DPage")
        a(href='#3DPage') О ГРУППЕ КОМПАНИЙ
    li(data-menuanchor="secondPage")
        a(href='#secondPage') SV TRANSLATION
    li(data-menuanchor="3rdPage")
        a(href='#3rdPage') SV HOTELS
    li(data-menuanchor="4thPage")
        a(href='#4thPage') SV REAL ESTATE
    li(data-menuanchor="5Page")
        a(href='#5Page') SV IT
    li(data-menuanchor="6Page")
        a(href='#6Page') SV AVTO SERVICE
    li(data-menuanchor="lastPage")
        a(href='#lastPage') КОНТАКТЫ