.sectionHeader
    .navbar-brand.logo
        a(href='/')
            if title.description == 'Section-main'
                img(src="images/logo.png", alt="", style="padding: 34px 20px 0;")
            if title.description == 'Section-1'
                img(src="images/logoBig-1.png", alt="")
            if title.description == 'Section-2'
                img(src="images/logoBig-2.png", alt="")
            if title.description == 'Section-3'
                img(src="images/logoBig-3.png", alt="")
            if title.description == 'Section-4'
                img(src="images/logoBig-4.png", alt="")
            if title.description == 'Section-5'
                img(src="images/logoBig-5.png", alt="")