.modal.fade(id='modal-id')
    .modal-dialog
        .modal-content
            .modal-body
                img.img--bordered.img--left(src="images/hotel-1.png", alt="")
                h3 SV HOTELS
                p.text--md Уютный отель в самом сердце Петербурга