@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic&subset=latin,cyrillic);
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?10868668');
  src: url('../font/fontello.eot?10868668#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?10868668') format('woff2'),
       url('../font/fontello.woff?10868668') format('woff'),
       url('../font/fontello.ttf?10868668') format('truetype'),
       url('../font/fontello.svg?10868668#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10868668#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #161827;
}

html, body {
  height: 100%;
}

a {
  color: #315659;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  text-decoration: none; 
  text-transform: uppercase;
  padding: 6px 12px;
    width: 100%;
  font-size: 14px;
  line-height: 1.42857;}

  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn--default {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }
  .btn--default:focus,
  .btn--default.focus {
    color: #000;
    background-color: #fff;
    border-color: #fff; }
  .btn--default:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff; }
  .btn--default:active,
  .btn--default.active,
  .open > .btn--default.dropdown-toggle {
    background-image: none; }

/* -------------------------------- 

 Header

-------------------------------- */
.cd-logo, .cd-nav-trigger {
  position: absolute;
  z-index: 10;
}
.cd-logo {
  z-index: 1;
}

.cd-logo {
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}
.cd-down {
    position: absolute;
    bottom: 40px;left: 0;right: 0;margin: auto;
}
.cd-logo.project-open {
  opacity: 0;
  visibility: hidden;
}

.cd-nav-trigger {
  top: 24px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #1b1b1f;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
    position: fixed;
}
.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* icon created in CSS */
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch .cd-nav-trigger:hover {
  background-color: #1b1b1f;
}
.cd-nav-trigger .cd-icon {
  /* middle line of the menu icon */
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon::after {
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.cd-nav-trigger.project-open .cd-icon {
  /* user selects a projects - transform the icon into a 'X' */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.project-open .cd-icon::before, .cd-nav-trigger.project-open .cd-icon::after {
  background-color: white;
}
.cd-nav-trigger.project-open .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.project-open .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.cd-nav-trigger.nav-open .cd-icon {
  /* user opens the navigation - transform the icon into an arrow */
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  -o-transform: translateY(-50%) translateX(-50%) rotate(90deg);
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
.cd-nav-trigger.nav-open .cd-icon::after {
  -webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
}
.cd-nav-trigger.nav-open .cd-icon::before {
  -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
}

/* -------------------------------- 

 Navigation

-------------------------------- */
.cd-primary-nav {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  /* height = (100% - 9%) - 9% is the space taken by the projects when the navigation is open */
  height: 250px;
  width: 100%;
  overflow: auto;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0s 0.4s;
  -moz-transition: opacity 0s 0.4s;
  transition: opacity 0s 0.4s;
  /* vertically align its content */
  display: none;
}
.cd-primary-nav ul {
  /* vertically align inside nav */
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 4px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.cd-primary-nav li + li {
    margin-top: 2.4em;
}
.cd-primary-nav a:after {
  content: '';
    position: absolute;
    height: 1px;
    width: 71px;
    left: 0;right: 0;
    bottom: -12px;
    margin: auto;
    background: #fff;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #303e40;
}
.cd-primary-nav .cd-label {
  position: relative;
  margin: 2.4em 0 2em;
  color: #51696b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.cd-primary-nav .cd-label::after {
  /* line below .cd-label*/
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -16px;
  height: 1px;
  width: 40px;
  background-color: currentColor;
}
.cd-primary-nav.nav-open {
  opacity: 1;
    display: table;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
    
  background-color: #161827;
}
.cd-primary-nav.nav-open ul {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav a {
    font-size: 4rem;
  }
}
img {
    max-width: 100%;
}
/* -------------------------------- 

 Projects

-------------------------------- */
.main-container {
    padding: 40px;
    background: url('../img/backgroundV.jpg') center top no-repeat;
    background-size: cover;
    position: relative;
    
    min-height: 480px;
}
.footer-container {
/*
    padding: 40px 10px 9px;
    background: url('../img/bg_footer.jpg') center top no-repeat;
    background-size: cover;
    position: relative;
    
    min-height: 480px;
*/
}
.footer-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.footer-container p {
    margin-bottom: 20px;
}
.footer-container li {
    position: relative;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.5;
}
.footer-container li span {
    text-transform: uppercase;
}
.footer-container li::before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 9px;
    margin-right: 11px;
    background-color: #2764b1;
        display: inline-block;
}

.footer-container li:nth-child(1)::before {
    background-color: #2764b1;
    background-image: -webkit-linear-gradient(bottom, rgba(6, 73, 146, 0.36) 0%, rgba(3, 151, 189, 0.36) 53%, rgba(1, 202, 218, 0.36) 88%, rgba(0, 220, 228, 0.36) 100%);
    background-image: -o-linear-gradient(bottom, rgba(6, 73, 146, 0.36) 0%, rgba(3, 151, 189, 0.36) 53%, rgba(1, 202, 218, 0.36) 88%, rgba(0, 220, 228, 0.36) 100%);
    background-image: linear-gradient(to top, rgba(6, 73, 146, 0.36) 0%, rgba(3, 151, 189, 0.36) 53%, rgba(1, 202, 218, 0.36) 88%, rgba(0, 220, 228, 0.36) 100%);
}
.footer-container li:nth-child(2)::before {
    background-color: #2764b1;
    background-image: -webkit-linear-gradient(271deg, #533823 0%, #c7b496 100%);
    background-image: -o-linear-gradient(271deg, #533823 0%, #c7b496 100%);
    background-image: linear-gradient(1deg, #533823 0%, #c7b496 100%);
}
.footer-container li:nth-child(3)::before {
    background-color: #2764b1;
    background-image: -webkit-linear-gradient(bottom, rgba(55, 0, 97, 0.64) 0%, rgba(0, 95, 162, 0.64) 41%, rgba(0, 122, 161, 0.64) 53%, rgba(0, 201, 157, 0.64) 88%, rgba(0, 228, 156, 0.64) 100%);
    background-image: -o-linear-gradient(bottom, rgba(55, 0, 97, 0.64) 0%, rgba(0, 95, 162, 0.64) 41%, rgba(0, 122, 161, 0.64) 53%, rgba(0, 201, 157, 0.64) 88%, rgba(0, 228, 156, 0.64) 100%);
    background-image: linear-gradient(to top, rgba(55, 0, 97, 0.64) 0%, rgba(0, 95, 162, 0.64) 41%, rgba(0, 122, 161, 0.64) 53%, rgba(0, 201, 157, 0.64) 88%, rgba(0, 228, 156, 0.64) 100%);
}
.footer-container li:nth-child(4)::before {
    background-color: #2764b1;
    background-image: -webkit-linear-gradient(bottom, rgba(87, 215, 83, 0.64) 0%, rgba(107, 183, 92, 0.64) 12%, rgba(165, 90, 118, 0.64) 47%, rgba(186, 56, 128, 0.64) 60%, rgba(186, 56, 128, 0.64) 100%);
    background-image: -o-linear-gradient(bottom, rgba(87, 215, 83, 0.64) 0%, rgba(107, 183, 92, 0.64) 12%, rgba(165, 90, 118, 0.64) 47%, rgba(186, 56, 128, 0.64) 60%, rgba(186, 56, 128, 0.64) 100%);
    background-image: linear-gradient(to top, rgba(87, 215, 83, 0.64) 0%, rgba(107, 183, 92, 0.64) 12%, rgba(165, 90, 118, 0.64) 47%, rgba(186, 56, 128, 0.64) 60%, rgba(186, 56, 128, 0.64) 100%);
}
.footer-container li:nth-child(5)::before {
    background-color: #2764b1;
    background-image: -webkit-linear-gradient(bottom, rgba(61, 62, 61, 0.64) 0%, rgba(80, 60, 60, 0.64) 12%, rgba(136, 56, 55, 0.64) 47%, rgba(221, 49, 49, 0.64) 100%);
    background-image: -o-linear-gradient(bottom, rgba(61, 62, 61, 0.64) 0%, rgba(80, 60, 60, 0.64) 12%, rgba(136, 56, 55, 0.64) 47%, rgba(221, 49, 49, 0.64) 100%);
    background-image: linear-gradient(to top, rgba(61, 62, 61, 0.64) 0%, rgba(80, 60, 60, 0.64) 12%, rgba(136, 56, 55, 0.64) 47%, rgba(221, 49, 49, 0.64) 100%);
}


.main-container.project-open {
    display: none;
}
.cd-projects-container {
  height: 100%;
/*  width: 100vw;*/
    width: 100%;
  position: relative;
  overflow: hidden;
}
.cd-projects-container .single-project {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* Force hardware acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-projects-container .single-project:nth-of-type(2) {
  -webkit-transform: translateY(16.666666%);
  -moz-transform: translateY(16.666666%);
  -ms-transform: translateY(16.666666%);
  -o-transform: translateY(16.666666%);
  transform: translateY(16.666666%);
}
.cd-projects-container .single-project:nth-of-type(3) {
  -webkit-transform: translateY(33.3333333%);
  -moz-transform: translateY(33.3333333%);
  -ms-transform: translateY(33.3333333%);
  -o-transform: translateY(33.3333333%);
  transform: translateY(33.3333333%);
}
.cd-projects-container .single-project:nth-of-type(4) {
  -webkit-transform: translateY(49.999999%);
  -moz-transform: translateY(49.999999%);
  -ms-transform: translateY(49.999999%);
  -o-transform: translateY(49.999999%);
  transform: translateY(49.999999%);
}
.cd-projects-container .single-project:nth-of-type(5) {
  -webkit-transform: translateY(66.666666%);
  -moz-transform: translateY(66.666666%);
  -ms-transform: translateY(66.666666%);
  -o-transform: translateY(66.666666%);
  transform: translateY(66.666666%);
}
.cd-projects-container .single-project:nth-of-type(6) {
  -webkit-transform: translateY(83.3333333%);
  -moz-transform: translateY(83.3333333%);
  -ms-transform: translateY(83.3333333%);
  -o-transform: translateY(83.3333333%);
  transform: translateY(83.3333333%);
}
.cd-projects-container .single-project.selected {
  /* selected project */
  cursor: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
    overflow: auto;
}
.cd-projects-container .single-project.selected .cd-title {display: none;}
.cd-projects-container .single-project.selected ~ li {
  /* hide siblings projects */
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.main-container.nav-open  {
/*
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -ms-transform: translateY(250px);
  -o-transform: translateY(250px);
  transform: translateY(250px);
*/
}
.cd-projects-container.nav-open .single-project:nth-of-type(2) {
  -webkit-transform: translateY(94%);
  -moz-transform: translateY(94%);
  -ms-transform: translateY(94%);
  -o-transform: translateY(94%);
  transform: translateY(94%);
}
.cd-projects-container.nav-open .single-project:nth-of-type(3) {
  -webkit-transform: translateY(97%);
  -moz-transform: translateY(97%);
  -ms-transform: translateY(97%);
  -o-transform: translateY(97%);
  transform: translateY(97%);
}
.cd-projects-container.nav-open:hover .single-project {
  -webkit-transform: translateY(88%);
  -moz-transform: translateY(88%);
  -ms-transform: translateY(88%);
  -o-transform: translateY(88%);
  transform: translateY(88%);
}
.cd-projects-container.nav-open:hover .single-project:nth-of-type(2) {
  -webkit-transform: translateY(92%);
  -moz-transform: translateY(92%);
  -ms-transform: translateY(92%);
  -o-transform: translateY(92%);
  transform: translateY(92%);
}
.cd-projects-container.nav-open:hover .single-project:nth-of-type(3) {
  -webkit-transform: translateY(96%);
  -moz-transform: translateY(96%);
  -ms-transform: translateY(96%);
  -o-transform: translateY(96%);
  transform: translateY(96%);
}

.cd-title {
    position: relative;
    z-index: 1;
    /*  height: 33.3333333333%;*/
    height: 20%;
    width: 100vw;
    text-align: center;
    /* vertical align its content */
    display: table;
    line-height: 4;
}
.cd-title::before {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 300%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.cd-title::after {
  /* line below title -  visible on hover */
  content: '';
  position: absolute;
  left: 50%;
  top: calc(50% + 30px);
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(1);
  -moz-transform: translateX(-50%) translateY(-50%) scaleX(1);
  -ms-transform: translateX(-50%) translateY(-50%) scaleX(1);
  -o-transform: translateX(-50%) translateY(-50%) scaleX(1);
  transform: translateX(-50%) translateY(-50%) scaleX(1);
  height: 1px;
  width: 60px;
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.single-project:nth-of-type(1) .cd-title {
/*  background-color: #2978A0;*/
}
.single-project:nth-of-type(1) .single-project-inner {
  background-image: url(../img/tr_bg_740.jpg);
}
.single-project:nth-of-type(2) .cd-title {
/*  background-color: #315659;*/
}
.single-project:nth-of-type(2) .single-project-inner {
  background-image: url(../img/hotels_bg_740.jpg);
}
.single-project:nth-of-type(3) .cd-title {
/*  background-color: #BCAB79;*/
}
.single-project:nth-of-type(3) .single-project-inner {
  background-image: url(../img/objects_bg_740.jpg);
}
.single-project:nth-of-type(4) .cd-title {
/*  background-color: #BCAB79;*/
}
.single-project:nth-of-type(4) .single-project-inner {
  background-image: url(../img/it_bg_740.jpg);
}
.single-project:nth-of-type(5) .cd-title {
/*  background-color: #BCAB79;*/
}
.single-project:nth-of-type(5) .single-project-inner {
  background-image: url(../img/auto_bg_740.jpg);
}
.single-project:nth-of-type(6) .single-project-inner {
  background-image: url(../img/bg_footer.jpg);
}
 .single-project-inner {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
.cd-title h2 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
    text-transform: uppercase;
  /* vertical align inside .cd-title */
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* Force hardware acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.no-touch .cd-title:hover::after {
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -moz-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -ms-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -o-transform: translateX(-50%) translateY(-50%) scaleX(0);
  transform: translateX(-50%) translateY(-50%) scaleX(0);
}
.no-touch .selected .cd-title:hover::after {
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
  -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -moz-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -ms-transform: translateX(-50%) translateY(-50%) scaleX(0);
  -o-transform: translateX(-50%) translateY(-50%) scaleX(0);
  transform: translateX(-50%) translateY(-50%) scaleX(0);
}
.selected .cd-title h2 {
  /* vertically center h2 in the full-height image*/
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
@media only screen and (min-width: 1170px) {
  .cd-title h2 {
    font-size: 3.6rem;
  }
}
.cd-inner {
    display: none;
    padding: 5px;
}
.selected.single-project:not(:nth-of-type(6)) .cd-inner {
    background: url(../img/bg.png) top left no-repeat;
}
.selected .cd-inner {
    display: block;
}
.cd-inner p {
    font-size: 1.4rem;
}
.cd-inner > img {
  margin-bottom: 1.2em;
}
.cd-inner h4 {
    font-size: 1.8rem;
    margin-bottom: 1em;
    font-weight: 600;
    font-style: italic;
}
.cd-inner h2 {
    font-size: 2.2rem;
    margin-top: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
}
.cd-project-info {
  position: relative;
  z-index: 2;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  -moz-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.cd-project-info::before {
  /* use to push the .content-wrapper below the intro project image */
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.cd-project-info .content-wrapper {
  position: relative;
  z-index: 2;
  padding: 0 1em;
  text-align: justify;
  color: #2e2e2e;
}
.cd-project-info .content-wrapper-inner {
  position: relative;
  z-index: 2;
  padding: 2em 1em;
  background-color: #FFFFFF;
}
.single-project:nth-of-type(6) .cd-project-info .content-wrapper-inner {
    background: transparent;
    color: #fff;
    padding: 0 0 1em;
}
.content-footer {
    margin: 1em 0;
}
.content-footer .inner {
    margin: 1em;
    text-align: center;
}
.content-footer .btn {
    max-width: 400px;
}
/*
.cd-project-info .content-wrapper > * {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
*/
.cd-project-info .content-wrapper p {
/*  margin-bottom: 2em;*/
  line-height: 1.5;
}
.content-wrapper h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: #064f95;
    margin-top: 1.1em;
    margin-bottom: 1.7em;
}
.selected .cd-project-info {
  -webkit-overflow-scrolling: touch;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0s, visibility 0s;
  -moz-transition: opacity 0s, visibility 0s;
  transition: opacity 0s, visibility 0s;
}
.cd-project-info.has-boxshadow .content-wrapper-inner {
  /* add a box-shadow while scrolling over the background image */
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1170px) {
  .cd-project-info .content-wrapper {
    padding: 4em;
  }
  .cd-project-info .content-wrapper p {
    font-size: 1.8rem;
  }
}

.cd-scroll {
  /* scroll down arrow */
  position: fixed;
  z-index: 1;
  top: calc(100% - 100px);
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 48px;
  width: 48px;
  /* replace text with image */
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  background: transparent url(../img/cd-arrow.svg) no-repeat center center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  -moz-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.project-open .cd-scroll {
  opacity: 1;
  visibility: visible;
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}
.project-open .has-boxshadow .cd-scroll {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
  }
}
@-moz-keyframes cd-translate {
  0% {
    -moz-transform: translateX(-50%);
  }
  50% {
    -moz-transform: translateY(10px) translateX(-50%);
  }
  100% {
    -moz-transform: translateX(-50%);
  }
}
@keyframes cd-translate {
  0% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(-50%);
    -moz-transform: translateY(10px) translateX(-50%);
    -ms-transform: translateY(10px) translateX(-50%);
    -o-transform: translateY(10px) translateX(-50%);
    transform: translateY(10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
/* -------------------------------- 

 Support for no js 

-------------------------------- */
.no-js .cd-nav-trigger, .no-js .cd-scroll, .cd-nav-trigger {
  display: none;
}

.cd-nav-trigger.project-open  {
  display: block;
}

.no-js .cd-primary-nav {
  position: relative;
  height: auto;
  min-height: 94px;
  display: block;
  opacity: 1;
}
.no-js .cd-primary-nav::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-primary-nav ul {
  display: block;
  padding-left: calc(5% + 60px);
  float: right;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.no-js .cd-primary-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-primary-nav li {
  display: inline-block;
  float: left;
  margin-top: 1.4em;
}
.no-js .cd-primary-nav li.cd-label {
  display: none;
}
.no-js .cd-primary-nav a {
  font-size: 1.6em;
}

.no-js .cd-projects-container {
  height: auto;
}
.no-js .cd-projects-container .single-project {
  position: relative;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  top: 0;
  cursor: auto;
}
.no-js .cd-projects-container .cd-title {
  height: 300px;
}
.no-js .cd-projects-container .cd-title::before {
  height: 300px;
}
.no-js .cd-projects-container h2 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.no-js .cd-projects-container h2::after {
  display: none;
}

.no-js .cd-project-info {
  position: relative;
  height: auto;
  top: 0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.no-js .cd-project-info .content-wrapper {
  margin-top: 0;
}
