- var title = { description: 'Section-main' }
.section#section0(data-anchor="firstPage", style='background: url("images/backgroundV.jpg") center center no-repeat')
    include ../modules/_header

    //video#myVideoLoop(src="video/shot_2and3_hi_quality_1_loop.mp4", autoplay, loop, style="display:none;")
    .menuDot
        .menuDot__item.menuDot__item-1
            a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV TRANSLATION</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>", data-placement="top")
        .menuDot__item.menuDot__item-2
            a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>", data-placement="top")
        .menuDot__item.menuDot__item-3
            a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV REAL ESTATE</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>", data-placement="top")
        .menuDot__item.menuDot__item-4
            a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV IT</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>", data-placement="bottom")
        .menuDot__item.menuDot__item-5
            a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV AVTO SERVICE</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>", data-placement="top")