- var title = { description: 'Section-4' }
.section#section4(data-anchor="5Page", style='background: url("images/mainImg-4.jpg") center center no-repeat')
    include ../modules/_header
    .pageSlider.col-xs-9.pull-right
        nav.slider-nav(class="slider-nav-4")
            div
                .img: img(src="images/navIco-41.png", alt="")
                | Этапы работы
            div
                .img: img(src="images/navIco-42.png", alt="")
                | Выберите сервис
            div
                .img: img(src="images/navIco-43.png", alt="")
                | Запишитесь
        .slider-for(class="slider-for-4")
            - for (var x = 1; x < 4; x++)
                .row
                    .text--center.sliderTitle
                        h3 ЭТАПЫ РАБОТЫ
                    .col.col-xlg-4.col-xs-5
                        h2 Создайте заявку
                        img(src="images/img4.jpg", alt="")
                    .col.col-xlg-4.col-xs-5
                        p «Садовая, 26» - это уютный, новый мини-отель, расположенный в историческом центре Санкт-Петербурга с теплой, семейной атмосферой и классическим дизайном. Мини-отель расположен  в доме, принадлежащем комплексу зданий «Воронцовский дворец», в двух минутах ходьбы от станции метро «Гостиный двор» и Невского проспекта. Прямо через два дома на ваше обозрение откроется центральная магистраль города!
                        p «Садовая, 26» - это уютный, новый мини-отель, расположенный в историческом центре Санкт-Петербурга с теплой, семейной атмосферой и классическим дизайном. Мини-отель расположен  в доме, принадлежащем комплексу зданий «Воронцовский дворец», в двух минутах ходьбы от станции метро «Гостиный двор» и Невского проспекта. Прямо через два дома на ваше обозрение откроется центральная магистраль города!

    .clearfix
    .text--center
        .pull-left.logoFooter: img(src="images/logoFooter.png", alt="")
        a.btn.btn--info.btn--lg.btnFooter(href="#") ПЕРЕЙТИ НА САЙТ