- var title = { description: 'Section-5' }
.section#section4(data-anchor="secondPage", style='background: url("images/mainImg-5.jpg") center center no-repeat')
    include ../modules/_header
    .pageSlider.col-xs-9.pull-right
        nav.slider-nav(class="slider-nav-5")
            div
                .img: img(src="images/navIco-51.png", alt="")
                | Письменный перевод
            div
                .img: img(src="images/navIco-52.png", alt="")
                | Синхронный перевод
            div
                .img: img(src="images/navIco-53.png", alt="")
                | Последовательный
                | перевод
            div
                .img: img(src="images/navIco-54.png", alt="")
                | Срочный перевод
            div
                .img: img(src="images/navIco-55.png", alt="")
                | Лингвистический
                | аудит
            div
                .img: img(src="images/navIco-56.png", alt="")
                | Оборудование для
                | синхронного перевода
            div
                .img: img(src="images/navIco-53.png", alt="")
                | Последовательный
                | перевод
            div
                .img: img(src="images/navIco-54.png", alt="")
                | Срочный перевод
        .slider-for(class="slider-for-5")
            - for (var x = 1; x < 9; x++)
                .row
                    .text--center.sliderTitle
                        h3 НАШИ УСЛУГИ
                    .col.col-xlg-4.col-xs-5
                        h2 Письменный перевод
                        img(src="images/img5.jpg", alt="")
                    .col.col-xlg-4.col-xs-5
                        p Мелкий или капитальный ремонт двигателя начинается с диагностики. Найти неисправности и провести тщательные диагностические работы - это начальная стадия ремонта любого двигателя. В нашем автосервисе установлены диагностические стенды и работают профессиональные мастера, которые оценивают состояние двигателя и всех комплектующих, осуществляют проверку всех электронных систем и датчиков. По окончанию проверки выявляются все неисправности. Далее даются рекомендации на капитальный ремонт двигателя или отдельной его части.  Мелкий или капитальный ремонт двигателя начинается с диагностики. Найти неисправности и провести тщательные диагностические работы - это начальная стадия ремонта любого двигателя. которые оценивают состояние двигателя и всех комплектующих, осуществляют проверку всех электронных систем и датчиков. По окончанию проверки выявляются все неисправности. Далее даются рекомендации на капитальный ремонт двигателя или отдельной его части.
    .clearfix
    .text--center
        .pull-left.logoFooter: img(src="images/logoFooter.png", alt="")
        a.btn.btn--tr.btn--lg.btnFooter(href="#") ПЕРЕЙТИ НА САЙТ