- var title = { description: 'Section-2' }
.section#section2(data-anchor="6Page", style='background: url("images/mainImg-2.jpg") center center no-repeat')
    include ../modules/_header
    .pageSlider.col-xs-9.pull-right
        nav.slider-nav(class="slider-nav-2")
            div
                .img: img(src="images/navIco-21.png", alt="")
                | Наши объекты
            div
                .img: img(src="images/navIco-22.png", alt="")
                | Кузовной ремонт
            div
                .img: img(src="images/navIco-23.png", alt="")
                | Ремонт ходовой
            div
                .img: img(src="images/navIco-24.png", alt="")
                | Тюнинг
            div
                .img: img(src="images/navIco-25.png", alt="")
                | Шиномонтаж
            div
                .img: img(src="images/navIco-26.png", alt="")
                | Автомойка
        .slider-for(class="slider-for-2")
            - for (var x = 1; x < 7; x++)
                .row
                    .text--center.sliderTitle
                        h3 НАШИ ОБЪЕКТЫ
                    .col.col-xlg-4.col-xs-5
                        h2 Ремонт двигателя
                        img(src="images/img2.jpg", alt="")
                    .col.col-xlg-4.col-xs-5
                        p Мелкий или капитальный ремонт двигателя начинается с диагностики. Найти неисправности и провести тщательные диагностические работы - это начальная стадия ремонта любого двигателя. В нашем автосервисе установлены диагностические стенды и работают профессиональные мастера, которые оценивают состояние двигателя и всех комплектующих, осуществляют проверку всех электронных систем и датчиков. По окончанию проверки выявляются все неисправности. Далее даются рекомендации на капитальный ремонт двигателя или отдельной его части.  Мелкий или капитальный ремонт двигателя начинается с диагностики. Найти неисправности и провести тщательные диагностические работы - это начальная стадия ремонта любого двигателя. которые оценивают состояние двигателя и всех комплектующих, осуществляют проверку всех электронных систем и датчиков. По окончанию проверки выявляются все неисправности. Далее даются рекомендации на капитальный ремонт двигателя или отдельной его части.
    .clearfix
    .text--center
        .pull-left.logoFooter: img(src="images/logoFooter.png", alt="")
        a.btn.btn--danger.btn--lg.btnFooter(href="#") ПЕРЕЙТИ НА САЙТ