- var title = { description: 'Section-1' }
.section#section1(data-anchor="3DPage", style='background: url("images/back.jpg") center center no-repeat')
    //include ../modules/_header
    //a#click(href="#", onclick="renderObject.start();return false;") Запустить
    #WebGL-output