- var title = { description: 'Section-1' }
.section#section1(data-anchor="3rdPage", style='background: url("images/mainImg-1.jpg") center center no-repeat')
    include ../modules/_header
    .pageSlider.col-xs-9.pull-right
        nav.slider-nav(class="slider-nav-1")
            div
                .img: img(src="images/navIco-1.png", alt="")
                | Об отеле
            div
                .img: img(src="images/navIco-2.png", alt="")
                | Три категории номеров
            div
                .img: img(src="images/navIco-3.png", alt="")
                | Европейский уровень
                br
                | качества
            div
                .img: img(src="images/navIco-4.png", alt="")
                | Бесплатный wi-fi
            div
                .img: img(src="images/navIco-5.png", alt="")
                | Завтрак включен
                br
                | в стоимость
            div
                .img: img(src="images/navIco-6.png", alt="")
                | Бесплатная парковка
        .slider-for(class="slider-for-1")
            - for (var x = 1; x < 7; x++)
                .row
                    .text--center.sliderTitle
                        h3 ОБ ОТЕЛЕ
                    .col.col-xlg-4.col-xs-5
                        h2 Удобное расположение
                        img(src="images/img.jpg", alt="")
                    .col.col-xlg-4.col-xs-5
                        p «Садовая, 26» - это уютный, новый мини-отель, расположенный в историческом центре Санкт-Петербурга с теплой, семейной атмосферой и классическим дизайном. Мини-отель расположен  в доме, принадлежащем комплексу зданий «Воронцовский дворец», в двух минутах ходьбы от станции метро «Гостиный двор» и Невского проспекта. Прямо через два дома на ваше обозрение откроется центральная магистраль города!
                        p «Садовая, 26» - это уютный, новый мини-отель, расположенный в историческом центре Санкт-Петербурга с теплой, семейной атмосферой и классическим дизайном. Мини-отель расположен  в доме, принадлежащем комплексу зданий «Воронцовский дворец», в двух минутах ходьбы от станции метро «Гостиный двор» и Невского проспекта. Прямо через два дома на ваше обозрение откроется центральная магистраль города!
    .clearfix
    .text--center
        .pull-left.logoFooter: img(src="images/logoFooter.png", alt="")
        a.btn.btn--default.btn--lg.btnFooter(href="#") ПЕРЕЙТИ НА САЙТ