- var title = { description: 'lastPage' }
.section#section2(data-anchor="lastPage", style='background: url("images/mainImg-1.jpg") center center no-repeat')
    .col-xs-9.center-block
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.9217050690274!2d30.422162316188473!3d60.032950661448865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963338beaada0f%3A0x558807d4550aa8a3!2z0JrQuNGA0LjRiNGB0LrQsNGPINGD0LsuLCAy0LAsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTUyOTk!5e0!3m2!1sru!2sru!4v1465481088516", width="100%", height="600" frameborder="0", style="border:0", allowfullscreen)