- var title = { description: 'Section-3' }
.section#section3(data-anchor="4thPage", style='background: url("images/mainImg-3.jpg") center center no-repeat')
    include ../modules/_header
    .pageSlider.col-xs-9.pull-right
        nav.slider-nav(class="slider-nav-3")
            div
                .img: img(src="images/navIco-31.png", alt="")
                | ЖК «Моre»
            div
                .img: img(src="images/navIco-32.png", alt="")
                | ЖК «GreenЛандия»
            div
                .img: img(src="images/navIco-33.png", alt="")
                | Ремонт ходовой
            div
                .img: img(src="images/navIco-34.png", alt="")
                | ЖК «Вернисаж»
            div
                .img: img(src="images/navIco-35.png", alt="")
                | Австрийский квартал
            div
                .img: img(src="images/navIco-36.png", alt="")
                | ЖК “Невский стиль”
            div
                .img: img(src="images/navIco-36.png", alt="")
                | ЖК “Невский стиль”
        .slider-for(class="slider-for-3")
            - for (var x = 1; x < 9; x++)
                .row
                    .text--center.sliderTitle
                        h3 НАШИ ОБЪЕКТЫ
                    .col.col-xlg-4.col-xs-5
                        h2 ЖК «Riverside»
                        img(src="images/img3.jpg", alt="")
                    .col.col-xlg-4.col-xs-5
                        p Одним из главных наших направлений является управление многоквартирными домами.
                            br
                            | Управляющая компания «СтройЛинк-сервис» - это команда единомышленников, объединившая молодых специалистов и квалифицированных сотрудников, работающих в сфере обслуживания домов уже несколько лет.
                            br
                            | Мы предлагаем полный комплекс услуг по управлению и эксплуатации жилых и административных зданий.
                            br
                            | Компания «СтройЛинк-сервис» имеет свою круглосуточную аварийную службу.
                            br
                            | Мы предлагаем полный комплекс юридических услуг для граждан и организаций.
    .clearfix
    .text--center
        .pull-left.logoFooter: img(src="images/logoFooter.png", alt="")
        a.btn.btn--warning.btn--lg.btnFooter(href="#") ПЕРЕЙТИ НА САЙТ