//
// Partials -> Header
// ------------------------------------

header .navbar {
  //padding: 21px 74px 0;
  //background: url("../images/logoBack.png") top left no-repeat;
  //height: 543px;
}

.img--bordered {
  border: 7px solid #fff;
  @include border-radius(50%);
}

.navbar {
  &-brand {
    max-width: 35%;
    display: block;
    //color: #000;
    //font-size: 30px;
    //width: 20%;
    //@media (min-width: 1600px) {
    //  max-width: 570px;
    //}
  }
  &-adr {
    font-size: 24px;
    margin-top: 141px;
  }
}

.burger {
  padding: 24px 45px 0 0;
}

//loader
#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: #141E27;
  .circle {
    top: 50%;
    left: 50%;
    width: 149px;
    height: 211px;
    margin-top: -106px;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    //background: url('../icons/loader.png') no-repeat;
    .load {
      margin-top: 10px;
      -webkit-animation: spin 1s infinite linear;
      -moz-animation: spin 1s infinite linear;
      -ms-animation: spin 1s infinite linear;
      -o-animation: spin 1s infinite linear;
      animation: spin 1s infinite linear;
    }
  }
}
//loader



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }


.sectionHeader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

#menu {
  //position: fixed;
  //top: 0;
  //left: 0;
  //height: 40px;
  //z-index: 70;
  //width: 100%;
  //padding: 0;
  //margin: 0;
}