//
// Partials -> Main
// ------------------------------------

#click {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
}
main {
  width: 100%;
  height: 100%;

  min-width: 1280px;
}
video {
  //z-index: 1;
  background: url("../images/backgroundV.jpg") no-repeat top center;
}

video, .video-js .vjs-tech {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100% !important;
  //height: auto !important;
  //height: 1068px !important;
  //z-index: -1;
}

#big-video-wrap {
  //overflow: hidden;
  position: absolute;
  //height: 100%;
  width: 100%;
  left: -1px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.video-js {
  position: relative;
  width: 1900px !important;
  top: 0 !important;
}

.menuDot {
  position: relative;
  width: 100%;
  height: 100%;
  &__item {
    position: absolute;
    z-index: 10;
    &-1 {
      top: 31%;
      left: 47.5%;
      a { background: #064992; }
    }
    &-2 {
      top: 54%;
      left: 55.5%;
      a { background: #897256; }
    }
    &-3 {
      top: 47%;
      right: 14.5%;
      a { background: #73347B; }
    }
    &-4 {
      top: 16%;
      right: 17.5%;
      a {
        background: #388e4f;
        background: -moz-linear-gradient(left,  #388e4f 0%, #a33883 100%);
        background: -webkit-linear-gradient(left,  #388e4f 0%,#a33883 100%);
        background: linear-gradient(to right,  #388e4f 0%,#a33883 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#388e4f', endColorstr='#a33883',GradientType=1 );
      }
    }
    &-5 {
      top: 69%;
      right: 13%;
      a { background: #CC2128; }
    }
    a {
      display: block;
      height: 50px;
      width: 50px;
      @include border-radius(50%);
    }
  }
}

.page {
  background: url("../images/mainImg-1.jpg") no-repeat center center;
  h1 {
    //text-transform: uppercase;
  }
  &:nth-child(2) {
    background: url("../images/mainImg-2.jpg") no-repeat center center;
  }

  &:nth-child(3) {
    background: #fdc162;
  }

  &:nth-child(4) {
    background: #fd6a62;
  }

  &:nth-child(5) {
    background: #f68dbb;
  }
}

.pageSlider {
  max-width: 1100px;
  float: right;
  height: 87%;
  position: relative;
}

.slider {
  &-nav {
    max-width: 1020px;
    width: 100% !important;
    position: absolute;
    top: 199px;
    left: 0;
    z-index: 2;
  }
  &Title {
    margin-top: 110px;
    margin-bottom: 250px;
  }
}


.section h2 {
  font-size: 33px;
  margin: 0 0 30px 0;
  font-weight: 400;
  white-space: nowrap;
}
.section h3 {
  font-size: 30px;
  text-transform: uppercase;
}