// миксины

mixin list(classUl, ...items)
    ul(class=classUl)
        each item in items
            li.nav__element
                a(href="#").nav__element-item= item


//
//mixin sliderNav(classUl, ...items)
//    nav(class=classUl)
//        each item in items
//            div: a(href='#')
//                .img: img(src="images/navIco-1.png", alt="")
//                = item
//            li.nav__element
//                a(href="#").nav__element-item= item
//
//
//mixin slide-products(text, number, summ)
//    .item.products-block__item
//        img(src="images/products-img/products-#{summ}.jpg", alt="")
//        .products-block__item-title
//            span.products-block__item-number #{number}&nbsp;
//            span.font--lg #{text}
