

html, body {
	width: 100%;
	height: 100%;
}


	#wrap {
		width: 100%;
		height: 100%;

		position: relative;

		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		z-index: 2;
	}

		.page {
			width: 100%;
			height: 100%;

			position: absolute;
			top: 0%;
			left: 0;
			z-index: 4;

			visibility: hidden;
			backface-visibility: hidden;
			overflow: auto;

			transform: translateY(0%);
		}

		.pt-page-ontop {
			z-index: 2;
		}

		.page {
			display: table;
			padding-top: 335px;

			/*background: #7bb7fa;*/
			background: url("../images/mainImg-1.jpg") no-repeat center center;
		}
		.page h2 {
			font-size: 33px;
			margin: 0 0 30px 0;
			font-weight: 400;
			white-space: nowrap;
		}

			.page > div {
				display: table-cell;

				vertical-align: middle;
			}

		.page:nth-child(2) {
			background: url("../images/mainImg-2.jpg") no-repeat center center;
		}

		.page:nth-child(3) {
			background: #fdc162;
		}

		.page:nth-child(4) {
			background: #fd6a62;
		}

		.page:nth-child(5) {
			background: #f68dbb;
		}

		.page.active {
			visibility: visible;
		}
		
		.pt-page-moveToTop {
			animation: moveToTop .7s ease both;
			-webkit-animation: moveToTop .7s ease both;
		}
		
		.pt-page-moveFromBottom {
			animation: moveFromBottom .6s ease both;
			-webkit-animation: moveFromBottom .6s ease both;
		}
		
		.pt-page-moveToBottom {
			animation: moveToBottom .7s ease both;
			-webkit-animation: moveToBottom .7s ease both;
		}
		
		.pt-page-moveFromTop {
			animation: moveFromTop .6s ease both;
			-webkit-animation: moveFromTop .6s ease both;
		}
		
		@-webkit-keyframes moveToTop {
			from {
			}
			to {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
		}
		
		@keyframes moveToTop {
			from {
			}
			to {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
		}
		
		@-webkit-keyframes moveFromBottom {
			from {
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
		}
		
		@keyframes moveFromBottom {
			from {
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
		}
		
		@-webkit-keyframes moveFromTop {
			from {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
		}
		
		@keyframes moveFromTop {
			from {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
			}
		}
		
		@-webkit-keyframes moveToBottom {
			from {
			}
			to {
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
		}
		
		@keyframes moveToBottom {
			from {
			}
			to {
				-webkit-transform: translateY(100%);
				transform: translateY(100%);
			}
		}

	.b-pogress {
		width: 950px;

		position: absolute;
		top: 15%;
		left: 50%;
		z-index: 999;

		margin-left: -475px;

		color: #fff;
		font-size: 30px;
		text-transform: uppercase;

		text-align: center;

		transform: translate(0, -50%);
	}

	.b-navkey {
		/*width: 330px; /!* 150*2 + 30 *!/*/

		position: absolute;
		top: 42%;
		right: 2%;
		/*z-index: 999;*/
		z-index: 1040;
		/*margin-left: -165px; /!* width/2 = 330/2 *!/*/

		color: #777;
		font: 700 30px/1 Arial;
	}

		.b-navkey__key {
			float: left;

			/*width: 150px;*/

			padding: 10px 30px;

			/*background: white;*/

			text-align: center;

			cursor: pointer;
		}

		.b-navkey__key:hover {
			/*background: #f5f5f5;*/
			opacity: 0.7;
		}

		.b-navkey__key:active {
			/*background: #ebebeb;*/
			opacity: 0.8;
		}

		.b-navkey__key + .b-navkey__key {
			margin-left: 30px;
		}

	#pageslider__nav {
		position: absolute;
		top: 23%;
		left: 0;
		/*z-index: 999;*/
		display: table;
		width: 100%;
		/*margin-left: -125px;*/
		z-index: 1040;
		padding: 0 30px 0 0;

		list-style: none;
	}
		#pageslider__nav .img {
			display: block;
			margin: 0 auto 20px;
			height: 87px;
		}
		#pageslider__nav img {
			line-height: 87px;
			vertical-align: middle;
		}
		#pageslider__nav li {
			/*float: left;*/
			display: table-cell;
			vertical-align: top;
		}

		#pageslider__nav li.active a {
			position: relative;
			z-index: 9;
			color: #a77730;

			/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);*/

			/*transform: scale(1.2);*/
		}

			#pageslider__nav a {
				display: block;
				font-size: 16px;
				/*margin: 0 20px;*/
				/*width: 50px;*/
				/*height: 50px;*/

				color: #fff;
				/*font: 700 20px/50px Arial;*/

				text-align: center;
				text-decoration: none;
			}

			/*#pageslider__nav li:nth-child(1) a {*/
				/*background: #7bb7fa;*/
			/*}*/

			/*#pageslider__nav li:nth-child(2) a {*/
				/*background: #60d7a9;*/
			/*}*/

			/*#pageslider__nav li:nth-child(3) a {*/
				/*background: #fdc162;*/
			/*}*/

			/*#pageslider__nav li:nth-child(4) a {*/
				/*background: #fd6a62;*/
			/*}*/

			/*#pageslider__nav li:nth-child(5) a {*/
				/*background: #f68dbb;*/
			/*}*/

	.b-console-log {
		display: none;

		width: 90%;

		position: absolute;
		bottom: 150px;
		left: 50%;
		z-index: 9;

		padding: 15px;
		margin-left: -45%;

		background-color: #fff;

		color: rgb(115, 115, 115);
		font: 700 13px Arial;
		letter-spacing: 0.05em;

		text-align: center;
	}

		.b-console-log span {
			margin: 0 5px;

			color: rgb(253, 106, 98);
			font-weight: 500;
		}

@media only screen and (max-width: 480px) {

	h1 {
		padding-bottom: 80px;

		color: #fff;
		font: 700 30px Arial;

		text-align: center;
	}

	h2 {
		margin-bottom: 10px;

		color: #fff;
		font-family: Arial;
		font-size: 20px;
	}

		.b-navkey {
			width: 220px; /* 100*2 + 20 */

			position: absolute;
			top: 100px;
			left: 50%;
			z-index: 999;

			margin-left: -110px; /* width/2 = 330/2 */

			color: #777;
			font: 700 15px/1 Arial;
		}

			.b-navkey__key {
				float: left;

				width: 100px;

				padding: 10px;

				background: white;

				text-align: center;

				cursor: pointer;
			}

			.b-navkey__key + .b-navkey__key {
				margin-left: 20px;
			}

		.b-pogress {
			width: 90%;

			margin-left: -45%;

			font-size: 20px;
		}

		#pageslider__nav {
			position: absolute;
			bottom: 80px;
			left: 50%;
			z-index: 999;

			margin-left: -100px; /* -(40*5 / 2) */

			list-style: none;
		}

				#pageslider__nav a {
					width: 40px;
					height: 40px;

					font-size: 15px;
					line-height: 40px; /* like height */
				}

		.b-console-log {
			display: block;
		}
}