@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300,200,100&subset=latin,cyrillic);
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?11851398");
  src: url("../fonts/fontello.eot?11851398#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?11851398") format("woff2"), url("../fonts/fontello.woff?11851398") format("woff"), url("../fonts/fontello.ttf?11851398") format("truetype"), url("../fonts/fontello.svg?11851398#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input,
textarea {
  outline: none; }

.clearfix:before,
.media:before,
.clearfix:after, .media:after {
  content: " ";
  display: table; }

.clearfix:after, .media:after {
  clear: both; }

.relative {
  position: relative; }

sub, sup {
  font-size: 64%; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  background-color: #fff;
  color: #000;
  font-weight: 200;
  font-size: 14px;
  font-family: "Exo 2", Arial, sans-serif;
  line-height: 1.28571; }

a {
  color: #000;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover,
  a:focus {
    color: #000; }
  a.underline__link {
    text-decoration: underline;
    color: #959595; }
    a.underline__link:hover,
    a.underline__link:focus {
      text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.img--right {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px; }

.img--left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }

.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto; }

a:active, a:focus {
  outline: none; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .hidden--print {
    display: none !important; } }

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.33;
  color: #000; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1; }

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
  h1 small,
  h2 small,
  h3 small {
    font-size: 38.888888889%;
    display: block; }

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px; }
  h4 small,
  h5 small,
  h6 small {
    font-size: 75%; }

h1 {
  font-size: 41.3px; }
  @media (min-width: 1230px) {
    h1 {
      font-size: 59px; } }

h2 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 44px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

b {
  font-weight: 400; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.text--justify {
  text-align: justify; }

.text--nowrap {
  white-space: nowrap; }

@media (min-width: 500px) {
  .text--sm--left {
    text-align: left; }
  .text--sm--right {
    text-align: right; }
  .text--sm--center {
    text-align: center; } }

@media (min-width: 768px) {
  .text--md--left {
    text-align: left; }
  .text--md--right {
    text-align: right; }
  .text--md--center {
    text-align: center; } }

@media (min-width: 992px) {
  .text--lg--left {
    text-align: left; }
  .text--lg--right {
    text-align: right; }
  .text--lg--center {
    text-align: center; } }

@media (min-width: 1230px) {
  .text--xlg--left {
    text-align: left; }
  .text--xlg--right {
    text-align: right; }
  .text--xlg--center {
    text-align: center; } }

.text--lowercase {
  text-transform: lowercase; }

.text--uppercase {
  text-transform: uppercase; }

.text--capitalize {
  text-transform: capitalize; }

.text--sm {
  font-size: 11px; }

.text--md {
  font-size: 15px; }

.text--lg, .reason__item {
  font-size: 18px; }

.text--primary {
  color: #fcd845; }

a.text--primary:hover,
a.text--primary:focus {
  color: #fbcd13; }

.text--success {
  color: #fff; }

a.text--success:hover,
a.text--success:focus {
  color: #e6e6e6; }

.text--info {
  color: #79ceee; }

a.text--info:hover,
a.text--info:focus {
  color: #4cbde8; }

.text--warning {
  color: #fcd845; }

a.text--warning:hover,
a.text--warning:focus {
  color: #fbcd13; }

.text--danger {
  color: #fe0000; }

a.text--danger:hover,
a.text--danger:focus {
  color: #cb0000; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.inline {
  display: inline-block; }

.middle {
  vertical-align: middle; }

.list--unstyled {
  padding-left: 0;
  list-style: none; }

.list--inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list--inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }
  blockquote:before {
    content: '\2014 \00A0'; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }

.fade {
  opacity: 0;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -moz-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -moz-transition-property: 0.35s;
  -o-transition-property: 0.35s;
  -webkit-transition-property: 0.35s;
  transition-property: 0.35s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .btn-group > .btn {
    position: relative;
    float: left; }
    .btn-group > .btn:hover,
    .btn-group > .btn:focus,
    .btn-group > .btn:active,
    .btn-group > .btn.active {
      z-index: 2; }
  .btn-group.list--inline > li {
    padding: 0;
    display: inline-block; }
    @media (max-width: 499px) {
      .btn-group.list--inline > li {
        display: block;
        float: none;
        width: 100%; } }
    .btn-group.list--inline > li a {
      padding: 8px 20px; }
      @media (min-width: 768px) {
        .btn-group.list--inline > li a {
          padding: 8px 30px; } }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px; }

.btn-group > .btn:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; }

.btn-group > .btn:first-child {
  margin-left: 0; }
  .btn-group > .btn:first-child:not(:last-child) {
    -webkit-border-bottom-right-radius: 0;
       -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
       -moz-border-radius-topright: 0;
            border-top-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child) {
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius-bottomleft: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topleft: 0;
          border-top-left-radius: 0; }

.btn-group > .btn-group {
  float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
  -webkit-border-bottom-right-radius: 0;
     -moz-border-radius-bottomright: 0;
          border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
     -moz-border-radius-topright: 0;
          border-top-right-radius: 0; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  -webkit-border-bottom-left-radius: 0;
     -moz-border-radius-bottomleft: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topleft: 0;
          border-top-left-radius: 0; }

@media (max-width: 499px) {
  .btn-group > .btn {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0; }
  .btn-group .btn + .btn {
    margin: 0; } }

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified > .btn,
  .btn-group-justified > .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
  .btn-group-justified > .btn-group .btn {
    width: 100%; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-transform: uppercase;
  height: 37px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px; }
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #fff;
    text-decoration: none; }
  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none; }

.btn--default {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }
  .btn--default:focus,
  .btn--default.focus {
    color: #fff;
    background-color: transparent;
    border-color: #bfbfbf; }
  .btn--default:hover {
    color: #fff;
    background-color: transparent;
    border-color: #e0e0e0; }
  .btn--default:active,
  .btn--default.active,
  .open > .btn--default.dropdown-toggle {
    background-image: none; }
  .btn--default a {
    color: #fff; }
  .btn--default:hover, .btn--default:focus, .btn--default.active {
    color: #79ceee;
    background-color: #fff;
    border-color: #fff; }

.btn--primary {
  color: #fff;
  background-color: #fcd845;
  border-color: #fcd32c; }
  .btn--primary:focus,
  .btn--primary.focus {
    color: #fff;
    background-color: #fbcd13;
    border-color: #a58503; }
  .btn--primary:hover {
    color: #fff;
    background-color: #fbcd13;
    border-color: #e7ba04; }
  .btn--primary:active,
  .btn--primary.active,
  .open > .btn--primary.dropdown-toggle {
    background-image: none; }

.btn--success {
  color: #fff;
  background-color: transparent;
  border-color: #fff; }
  .btn--success:focus,
  .btn--success.focus {
    color: #fff;
    background-color: transparent;
    border-color: #bfbfbf; }
  .btn--success:hover {
    color: #fff;
    background-color: transparent;
    border-color: #e0e0e0; }
  .btn--success:active,
  .btn--success.active,
  .open > .btn--success.dropdown-toggle {
    background-image: none; }
  .btn--success:hover, .btn--success:focus, .btn--success.active {
    color: #79ceee;
    background-color: #fff;
    border-color: #fff; }
  .btn--success a {
    color: #fff;
    padding: 8px 16px;
    display: inline-block; }
  .btn--success:hover a, .btn--success:focus a, .btn--success.active a {
    color: #79ceee; }

.btn--info {
  color: #79ceee;
  background-color: #fff;
  border-color: #fff; }
  .btn--info:focus,
  .btn--info.focus {
    color: #79ceee;
    background-color: #e6e6e6;
    border-color: #bfbfbf; }
  .btn--info:hover {
    color: #79ceee;
    background-color: #e6e6e6;
    border-color: #e0e0e0; }
  .btn--info:active,
  .btn--info.active,
  .open > .btn--info.dropdown-toggle {
    background-image: none; }

.btn--warning {
  color: #000;
  background-color: transparent;
  border-color: #fcd845;
  padding: 0; }
  .btn--warning:focus,
  .btn--warning.focus {
    color: #000;
    background-color: transparent;
    border-color: #be9a03; }
  .btn--warning:hover {
    color: #000;
    background-color: transparent;
    border-color: #fbcb09; }
  .btn--warning:active,
  .btn--warning.active,
  .open > .btn--warning.dropdown-toggle {
    background-image: none; }
  .btn--warning a {
    padding: 8px 16px;
    display: inline-block; }
  .btn--warning:hover, .btn--warning:focus, .btn--warning.active {
    color: #fff;
    background-color: #fcd845;
    border-color: #fcd845; }
    .btn--warning:hover a, .btn--warning:focus a, .btn--warning.active a {
      color: #fff; }

.btn--md {
  padding: 16px 31px;
  font-size: 15px;
  line-height: 1.33333;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  height: 54px; }
  @media (min-width: 1230px) {
    .btn--md {
      width: 269px; } }

.btn--sm {
  padding: 12px 10px;
  font-size: 11px;
  line-height: 1.5;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px; }

.btn--block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 5px; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  /*margin-top: 5px;*/
  font-weight: 400;
  color: #636363;
  text-transform: uppercase;
  height: 36px;
  padding-top: 10px; }

input[type="search"] {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="file"] {
  display: block; }

input[type="range"] {
  display: block;
  width: 100%; }

select[multiple],
select[size] {
  height: auto; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fcd845;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -moz-transition: border-color ease-in-out 0.15s, -moz-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #fcd845;
    outline: 0; }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1; }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed; }

select.form-control {
  background: #fff url("../images/selectArr.png") center right 13px no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.form-control {
  height: auto;
  resize: none; }

input[type="search"] {
  -webkit-appearance: none; }

.form-group {
  margin-bottom: 18px; }

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }
  .radio label,
  .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }
    .radio label:after,
    .checkbox label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      display: block;
      height: 20px;
      width: 20px;
      background: #fff;
      border: 1px solid #ddd;
      -webkit-border-top-right-radius: 3px;
         -moz-border-radius-topright: 3px;
              border-top-right-radius: 3px;
      -webkit-border-top-left-radius: 3px;
         -moz-border-radius-topleft: 3px;
              border-top-left-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
         -moz-border-radius-bottomright: 3px;
              border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
         -moz-border-radius-bottomleft: 3px;
              border-bottom-left-radius: 3px; }

.radio label:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.checkbox input[type="checkbox"]:checked + label:after {
  background: #fff; }

.radio input[type="radio"]:checked + label:after {
  background: #fff; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; }

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; }

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 500px) {
    .container {
      width: 496px; } }
  @media (min-width: 768px) {
    .container {
      width: 736px; } }
  @media (min-width: 992px) {
    .container {
      width: 956px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1209px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px; }
  .container-fluid:before,
  .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -8px;
  margin-right: -8px; }
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

@media (min-width: 500px) {
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@media (min-width: 1230px) {
  .col-xlg-1 {
    width: 8.33333%; }
  .col-xlg-2 {
    width: 16.66667%; }
  .col-xlg-3 {
    width: 25%; }
  .col-xlg-4 {
    width: 33.33333%; }
  .col-xlg-5 {
    width: 41.66667%; }
  .col-xlg-6 {
    width: 50%; }
  .col-xlg-7 {
    width: 58.33333%; }
  .col-xlg-8 {
    width: 66.66667%; }
  .col-xlg-9 {
    width: 75%; }
  .col-xlg-10 {
    width: 83.33333%; }
  .col-xlg-11 {
    width: 91.66667%; }
  .col-xlg-12 {
    width: 100%; } }

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 9;
  position: relative; }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6; }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    -moz-transform: translate(0, -25%);
         transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
         transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 33px;
     -moz-border-radius: 33px;
          border-radius: 33px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
       -o-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
  overflow: hidden; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; }
  .modal-backdrop.in {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5; }

.modal-header {
  padding: 15px;
  text-align: center; }
  .modal-header:before,
  .modal-header:after {
    content: " ";
    display: table; }
  .modal-header:after {
    clear: both; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 0 30px 25px; }
  @media (min-width: 500px) {
    .modal-body {
      padding: 0 60px 25px; } }
  .pad0 .modal-body {
    padding: 0; }

.modal-footer {
  padding: 0 60px 25px;
  text-align: right; }
  .modal-footer:before,
  .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 500px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 507px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 956px; } }

@media (min-width: 1230px) {
  .modal-lg {
    width: 1143px;
    height: 659px; } }

.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 20px; }

.media__img--rev {
  float: right;
  margin-left: 20px; }

.media__img img,
.media__img--rev img {
  display: block; }

.media__body {
  overflow: hidden; }

.media__body,
.media__body > :last-child {
  margin-bottom: 0; }

.islet .media__img {
  margin-right: 10px; }

.islet .media__img--rev {
  margin-left: 10px; }

.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  padding-top: 16px;
  padding-bottom: 5px; }
  .navbar:before,
  .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  @media (min-width: 500px) {
    .navbar.active {
      background: rgba(0, 0, 0, 0.3); } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 8px;
  padding-left: 8px;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }
  .navbar-collapse:before,
  .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
    overflow-y: auto; }
  @media (min-width: 992px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none; }
      .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
      .navbar-collapse.in {
        overflow-y: visible; } }

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -8px;
  margin-left: -8px; }
  @media (min-width: 992px) {
    .container > .navbar-header,
    .container > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.navbar-fixed-top {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 992px) {
    .navbar-fixed-top {
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    background-color: #000; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
  @media (min-width: 992px) {
    .navbar-toggle {
      display: none; } }

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  display: block; }

@media (min-width: 992px) {
  .navbar-nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0; }
    .navbar-nav > li {
      float: none; }
      .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px; } }

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #333;
      background-color: #777; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav > .disabled > a,
  .navbar-default .navbar-nav > .disabled > a:hover,
  .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #ddd; }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
      background-color: #ddd; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #888; }
  .navbar-default .navbar-collapse {
    border-color: #e7e7e7; }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }
  @media (max-device-width: 992px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px; } }

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table; }

.navbar-header:after {
  clear: both; }

@media (min-width: 992px) {
  .navbar-header {
    float: left; } }

.navbar-left {
  float: left !important; }

.navbar-right {
  float: right !important;
  margin-right: -8px;
  position: relative;
  z-index: 3; }
  .navbar-right ~ .navbar-right {
    margin-right: 0; }

.navbar-fixed-top,
.navbar-fixed-bottom {
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 992px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      position: absolute;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 17px; }
  .nav:before,
  .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    @media (min-width: 768px) {
      .nav > li {
        display: inline-block; } }
    .nav > li > a {
      position: relative;
      color: grey;
      text-transform: uppercase; }
      .nav > li > a:hover,
      .nav > li > a:focus {
        text-decoration: none;
        color: #fff;
        background-color: #777; }
      @media (min-width: 768px) {
        .nav > li > a {
          display: inline-block;
          padding: 0 10px; }
          .nav > li > a:active,
          .nav > li > a:hover,
          .nav > li > a:focus {
            color: #333;
            background-color: transparent; } }
    @media (min-width: 768px) {
      .nav > li:not(:last-child):after {
        content: '/';
        display: inline-block; } }
  .nav > li > a > img {
    max-width: none; }

.nav-justified {
  width: 100%; }
  .nav-justified > li {
    float: none; }
    .nav-justified > li > a {
      text-align: center;
      margin-bottom: 5px; }
  @media (min-width: 500px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%; }
      .nav-justified > li > a {
        margin-bottom: 0; } }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.visible--xs {
  display: none !important; }

.visible--sm {
  display: none !important; }

.visible--md {
  display: none !important; }

.visible--lg {
  display: none !important; }

.visible--xs--block,
.visible--xs--inline,
.visible--xs--inline-block,
.visible--sm--block,
.visible--sm--inline,
.visible--sm--inline-block,
.visible--md--block,
.visible--md--inline,
.visible--md--inline-block,
.visible--lg--block,
.visible--lg--inline,
.visible--lg--inline-block {
  display: none !important; }

@media (max-width: 499px) {
  .visible--xs {
    display: block !important; }
  table.visible--xs {
    display: table !important; }
  tr.visible--xs {
    display: table-row !important; }
  th.visible--xs,
  td.visible--xs {
    display: table-cell !important; } }

@media (max-width: 499px) {
  .visible--xs--block {
    display: block !important; } }

@media (max-width: 499px) {
  .visible--xs--inline {
    display: inline !important; } }

@media (max-width: 499px) {
  .visible--xs--inline--block {
    display: inline-block !important; } }

@media (min-width: 500px) and (max-width: 767px) {
  .visible--sm {
    display: block !important; }
  table.visible--sm {
    display: table !important; }
  tr.visible--sm {
    display: table-row !important; }
  th.visible--sm,
  td.visible--sm {
    display: table-cell !important; } }

@media (min-width: 500px) and (max-width: 767px) {
  .visible--sm--block {
    display: block !important; } }

@media (min-width: 500px) and (max-width: 767px) {
  .visible--sm--inline {
    display: inline !important; } }

@media (min-width: 500px) and (max-width: 767px) {
  .visible--sm--inline--block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md {
    display: block !important; }
  table.visible--md {
    display: table !important; }
  tr.visible--md {
    display: table-row !important; }
  th.visible--md,
  td.visible--md {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--inline--block {
    display: inline-block !important; } }

@media (min-width: 992px) {
  .visible--lg {
    display: block !important; }
  table.visible--lg {
    display: table !important; }
  tr.visible--lg {
    display: table-row !important; }
  th.visible--lg,
  td.visible--lg {
    display: table-cell !important; } }

@media (min-width: 992px) {
  .visible--lg--block {
    display: block !important; } }

@media (min-width: 992px) {
  .visible--lg--inline {
    display: inline !important; } }

@media (min-width: 992px) {
  .visible--lg--inline--block {
    display: inline-block !important; } }

@media (max-width: 499px) {
  .hidden--xs {
    display: none !important; } }

@media (min-width: 500px) and (max-width: 767px) {
  .hidden--sm {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden--md {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden--lg {
    display: none !important; } }

table {
  background-color: transparent; }

caption {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left; }

th {
  text-align: left; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

@media (min-width: 500px) {
  .pull--sm--left {
    float: left; }
  .pull--sm--right {
    float: right; } }

@media (min-width: 768px) {
  .pull--md--left {
    float: left; }
  .pull--md--right {
    float: right; } }

@media (min-width: 992px) {
  .pull--lg--left {
    float: left; }
  .pull--lg--right {
    float: right; } }

@media (min-width: 1230px) {
  .pull--xlg--left {
    float: left; }
  .pull--xlg--right {
    float: right; } }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.header__desc {
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 12px; }
  .header__desc a {
    display: block;
    color: #fff; }
  .header__desc-phone {
    font-size: 24px;
    padding-bottom: 9px; }
    .header__desc-phone sup {
      font-size: 14px; }

.mainMenu {
  background: url("../images/menuBack.jpg") center repeat;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 4;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (min-width: 768px) {
    .mainMenu {
      font-size: 24px;
      padding: 112px 236px 90px 106px;
      line-height: 2.5; } }
  .mainMenu a {
    color: white; }
  .mainMenu .close {
    position: absolute;
    top: 23px;
    right: 16px; }

.logo {
  font-style: italic;
  font-size: 31px;
  font-weight: 200; }
  .logo a {
    display: inline-block;
    position: relative;
    color: #fff;}
@media (min-width: 768px) {
  .logo a {
    color: #fff;margin-left: 163px; } }
  .logo .number {
    position: absolute;
    top: 10px;
    left: 6px;
    text-align: center;
    width: 40px; }

.site-main {
  overflow: hidden; }

.topBar {
  background: url("../images/mainImg.jpg") center center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 127px 0 150px;
  text-transform: uppercase;
  color: #fff; }
  @media (min-width: 768px) {
    .topBar {
      padding-top: 114px; }
      .topBar .tab-content {
        margin-top: 89px; } }
  .topBar__text {
    vertical-align: middle;
    margin-bottom: 75px; }
    @media (min-width: 992px) {
      .topBar__text {
        margin-bottom: 145px; } }
    .topBar__text span {
      vertical-align: middle;
      display: inline-block; }
    .topBar__text-first {
      line-height: 0.7; }
      .topBar__text-first span {
        vertical-align: bottom; }
      .topBar__text-first .num {
        font-size: 72px;
        width: 35px; }
      .topBar__text-first .txt {
        font-size: 24px;
        padding-left: 21px; }
    .topBar__text-second {
      line-height: 1; }
      .topBar__text-second .num {
        font-size: 24px;
        width: 30px;
        text-align: right; }
      .topBar__text-second .txt {
        font-size: 35px;
        padding-left: 23px; }
        @media (min-width: 500px) {
          .topBar__text-second .txt {
            font-size: 60px; } }
  @media (min-width: 992px) {
    .topBar__list-item {
      width: 33%; } }
  .topBar__list-item span {
    vertical-align: middle;
    display: inline-block; }
    @media (min-width: 768px) {
      .topBar__list-item span {
        display: block; } }
    @media (min-width: 992px) {
      .topBar__list-item span {
        display: inline-block; } }
  .topBar__list-item .num {
    font-size: 48px;
    line-height: 1;
    margin-right: 9px;
    margin-bottom: 11px; }
    @media (min-width: 1230px) {
      .topBar__list-item .num {
        font-size: 60px;
        margin-right: 32px; } }
  .topBar__list-item a {
    color: #fff;
    text-decoration: underline;
    font-weight: 400; }
    .topBar__list-item a:hover {
      text-decoration: none; }
  .topBar__list .owl-controls .owl-nav [class*="owl-"] {
    font-size: 47px;
    float: right;
    margin-top: -72px;
    margin-right: -30px;
    color: #fff;
    position: relative;
    z-index: 10; }

.calc {
  padding: 40px 0 128px; }
  .calcSumm {
    margin-top: 27px;
    margin-bottom: 33px;
    font-weight: 400;
    line-height: 1.1;
    color: #000; }
    .calcSumm h3 {
      font-size: 23px;}
    .calcSumm h3 b {
      font-size: 38px;}
    @media (min-width: 768px) {
      .calcSumm {
        margin-top: 87px;
        margin-bottom: 53px; } }
    .calcSumm p {
      margin-top: 0; }
    .calcSumm .text--default {
      color: #959595;
      /*display: block;*/
      /*font-size: 12px; */}
  .calc .cart_item-count {
    background: url("../images/sqr.png") center right 8px no-repeat, #fff; }
  .calc .primary .form-control {
    border: none;
    border-bottom: 1px solid #808080;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .calc .primary .form-control:focus {
      border-color: #fcd845;
      outline: 0; }
  .calc .primary label {
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase; }

.reason {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff; }
  .reason h2 {
    color: #fff;
    margin-top: 48px;
    margin-bottom: 50px; }
  .reason .container {
    position: relative; }
  .reason-img {
    position: absolute;
    left: 0;
    bottom: -2px; }
  .reason-img img {
    max-width: 500px; }
  .reason__item {
    margin-bottom: 36px; }
    .reason__item b {
      display: block;
      text-transform: uppercase; }

.term {
  padding: 38px 0 108px;
  position: relative; }
  .term h2 {
    margin-bottom: 52px; }
    @media (min-width: 992px) {
      .term h2 {
        margin-bottom: 102px; } }
  .termDays {
    width: 290px;
    height: 290px;
    border: 8px solid #ebebeb;
    text-align: center;
    line-height: 290px;
    font-size: 72px;
    padding-left: 48px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 25px; }
    @media (min-width: 500px) {
      .termDays {
        padding-left: 68px;
        width: 351px;
        height: 351px;
        line-height: 341px;
        border: none; } }
    .termDays sup {
      font-size: 30px;
      top: -1.1em; }
    .termDays canvas {
      display: none; }
      @media (min-width: 500px) {
        .termDays canvas {
          display: block; } }
  .termDiag {
    margin-bottom: 37px; }
    .termDiag__item {
      width: 142px;
      height: 142px;
      text-align: center;
      position: relative;
      line-height: 132px;
      font-size: 40px;
      padding-left: 19px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .termDiag li {
      margin: 0 0 11px; }
  .term canvas {
    position: absolute;
    left: 0;
    top: 0; }
  .term ul {
    line-height: 1.7; }
  @media (min-width: 500px) {
    .term::before {
      content: '';
      position: absolute;
      left: -74%;
      bottom: 0;
      height: 88px;
      width: 100%;
      background: url("../images/reasonBack.jpg") repeat top left;
      -webkit-transform: skewX(85deg);
         -moz-transform: skewX(85deg);
          -ms-transform: skewX(85deg);
           -o-transform: skewX(85deg);
              transform: skewX(85deg);
      z-index: 2; }
    .term::after {
      content: '';
      position: absolute;
      right: -74%;
      bottom: 0;
      height: 88px;
      width: 100%;
      background: url("../images/reasonBack.jpg") repeat top left;
      -webkit-transform: skewX(-85deg);
         -moz-transform: skewX(-85deg);
          -ms-transform: skewX(-85deg);
           -o-transform: skewX(-85deg);
              transform: skewX(-85deg);
      z-index: 2; } }

.guarantee {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff;
  position: relative;
  padding: 31px 0; }
  @media (min-width: 500px) {
    .guarantee {
      padding: 31px 0 97px; } }
  .guarantee h2 {
    color: #fff;
    margin-bottom: 87px; }
  @media (min-width: 500px) {
    .guarantee::before {
      content: '';
      position: absolute;
      left: -74%;
      bottom: 0;
      height: 88px;
      width: 100%;
      background: #fff;
      -webkit-transform: skewX(85deg);
         -moz-transform: skewX(85deg);
          -ms-transform: skewX(85deg);
           -o-transform: skewX(85deg);
              transform: skewX(85deg); }
    .guarantee::after {
      content: '';
      position: absolute;
      right: -74%;
      bottom: 0;
      height: 88px;
      width: 100%;
      background: #fff;
      -webkit-transform: skewX(-85deg);
         -moz-transform: skewX(-85deg);
          -ms-transform: skewX(-85deg);
           -o-transform: skewX(-85deg);
              transform: skewX(-85deg); } }
  .guarantee__item {
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .guarantee__item {
        padding: 0 25px; } }
    @media (min-width: 1230px) {
      .guarantee__item {
        padding: 0 65px; } }
    .guarantee__item-img {
      margin-bottom: 23px; }
      @media (min-width: 992px) {
        .guarantee__item-img {
          margin-bottom: 55px; } }
      .guarantee__item-img img {
        margin-bottom: 17px; }
    .guarantee__item-desc {
      line-height: 1.7; }

.scheme {
  padding: 20px 0 47px; }
  @media (min-width: 768px) {
    .scheme {
      padding: 20px 0 127px; } }
  .schemeInner {
    position: relative;
    width: 100%;
    max-width: 840px;
    margin: 21px auto 0; }
    @media (min-width: 768px) {
      .schemeInner {
        background: url("../images/schemeLine.png") center center no-repeat;
        margin: 71px auto 0;
        height: 340px; } }
    .schemeInner__item {
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      margin: 8px; }
      @media (max-width: 499px) {
        .schemeInner__item {
          width: 42%; }
          .schemeInner__item p:first-child {
            font-weight: 700; } }
      @media (min-width: 768px) {
        .schemeInner__item {
          position: absolute;
          margin: 0; }
          .schemeInner__item-1 {
            top: -27px;
            left: 48px; }
          .schemeInner__item-2 {
            top: -27px;
            left: 293px; }
          .schemeInner__item-3 {
            top: -27px;
            right: 150px; }
          .schemeInner__item-4 {
            top: 67px;
            right: -78px;
            text-align: left; }
            .schemeInner__item-4 p, .schemeInner__item-4 .ball {
              display: inline-block;
              vertical-align: middle;
              margin: 0 8px; }
          .schemeInner__item-5 {
            bottom: 81px;
            left: -58px;
            text-align: left; }
            .schemeInner__item-5 p, .schemeInner__item-5 .ball {
              display: inline-block;
              vertical-align: middle;
              margin: 0 8px; }
          .schemeInner__item-6 {
            bottom: -45px;
            left: 180px; }
          .schemeInner__item-7 {
            bottom: -45px;
            right: 307px; }
          .schemeInner__item-8 {
            bottom: -45px;
            right: 17px; } }
      .schemeInner__item .ball {
        width: 26px;
        height: 26px;
        background-color: #ebebeb;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin: auto; }
        @media (max-width: 991px) {
          .schemeInner__item .ball {
            display: none; } }
  .scheme #ball {
    position: absolute;
    left: 65px;
    top: -2px;
    z-index: 9; }
    @media (max-width: 991px) {
      .scheme #ball {
        display: none; } }

.projects {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff; padding-bottom: 30px;}
  .projects h2 {
    color: #fff;
    margin-bottom: 10px; }
  .projects ul {
    font-size: 15px;
  }
    @media (min-width: 992px) {
      .projects h2 {
        margin-bottom: 60px; } 
      .projects .container {
        padding: 0 40px;
      }}
  .projectsInner {
    position: relative;
    padding: 23px 0 35px;}
    .projectsInner img {
      display: block; }
  .projects-img {
    position: absolute;
    left: -50px;
    bottom: -52px; }
.team {
  padding: 30px 0; }
  .team .item {
    position: relative; }
  .teamInner {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 800px;
    top: 34%;
    background: rgba(255, 255, 255, 0.8); }
    @media (min-width: 768px) {
      .teamInner {
        background: transparent; } }
.teamInner .text--lg {
  background: rgba(255, 255, 255, 0.8);
  font-size: 16px; }
  .team-title {
    color: #f8c739;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2; }
    .team-title span {
      font-size: 42px;
      display: block; }
      @media (min-width: 500px) {
        .team-title span {
          font-size: 70px; } }
      @media (min-width: 992px) {
        .team-title span {
          font-size: 120px; } }
  .team .big-images .owl-stage-outer {
    background: url("../images/dirty.png") center right no-repeat; }
  .team .big-images .owl-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .team .big-images .owl-controls .owl-prev {
      position: absolute;
      top: 240px;
      left: 0; }
    .team .big-images .owl-controls .owl-next {
      position: absolute;
      top: 240px;
      right: 0; }
  .team .thumbs {
    position: absolute;
    bottom: 0; }
    .team .thumbs .owl-item {
      width: 63px !important;
      margin: 0 25px !important;
      cursor: pointer;
      padding-right: 5px;
      padding-top: 5px;
      overflow: hidden;
      height: 73px;
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      .team .thumbs .owl-item:last-child,
      .team .thumbs .owl-item:nth-last-child(2){
        float: right; }
      .team .thumbs .owl-item img {
        display: block; }
      /*.team .thumbs .owl-item.main {*/
        /*background-color: #ebebeb; }*/
    .team .thumbs .owl-stage {
      width: 100% !important; }

.form {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff;
  padding: 26px 0 32px; }
  .form--title {
    margin-bottom: 14px; }
    .form--title span {
      padding-left: 17px; }
  .form--desc {
    margin-bottom: 15px; }
    @media (min-width: 992px) {
      .form--desc {
        padding-left: 45px; } }
  .form_inner {
    margin-bottom: 25px; }
    @media (min-width: 992px) {
      .form_inner {
        margin-bottom: 95px; } }
  .form h2 {
    color: #fff;
    margin-bottom: 59px; }
    @media (min-width: 992px) {
      .form h2 {
        margin-bottom: 109px; } }
  .form .form-group {
    margin-bottom: 35px; }
  .form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .form .form-control::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .form .form-control:-ms-input-placeholder {
      color: #fff; }
    .form .form-control::-webkit-input-placeholder {
      color: #fff; }

.secrets {
  padding: 36px 0 51px; }
  .secrets--title {
    margin-bottom: 34px; }
    @media (min-width: 500px) {
      .secrets--title span + span {
        padding-left: 11px; } }
  .secrets--desc {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .secrets--desc {
        padding-left: 38px; } }
    .secrets--desc span {
      display: block; }
  .secrets .owl-controls .owl-prev {
    font-size: 47px;
    float: left; }
  .secrets .owl-controls .owl-next {
    float: right; }

.map {
  color: #fff;
  text-align: center;
  position: relative; }
  .map ymaps {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#old-timey); }
  .map__inner {
    padding: 36px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(121, 205, 235, 0.7); }
    .map__inner h2, .map__inner a {
      color: #fff; }
  .mapPhone {
    margin-top: 198px;
    margin-bottom: 32px; }

/*.modal .form-control, .modal .btn {*/
  /*height: 44px;*/
  /*-webkit-border-radius: 25px;*/
  /*-moz-border-radius: 25px;*/
  /*border-radius: 25px; }*/

.modal textarea.form-control {
  height: 145px; }

/*.modal .btn--success {*/
  /*background: #79ceee; }*/
  /*.modal .btn--success:hover, .modal .btn--success:focus, .modal .btn--success.active {*/
    /*color: #fff;*/
    /*background-color: #4cbde8; }*/

.modal .info .form-control {
  border-color: #79ceee; }

.tab-content {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .tab-content {
      margin-top: 80px; } }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-left-open-big:before {
  content: '\e802'; }

/* '' */
.icon-right-open-big:before {
  content: '\e803'; }

/* '' */
.modalInner {
  padding: 10px 14px; }
  /*@media (min-width: 1230px) {*/
    /*.modalInner {*/
      /*padding: 10px 16px 10px 50px; } }*/
  .modalInner ul {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px; }
    @media (min-width: 1230px) {
      .modalInner ul {
        margin-top: 50px;
        margin-bottom: 50px; } }
    .modalInner ul li {
      margin-bottom: 5px; }

.popup-slider .modal-content {
  overflow: hidden; }

.work--inner .modal-content {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff;
}

.work--inner h2, .work--inner h3, .work--inner h4 {
  background: url("../images/reasonBack.jpg") repeat top left;
  color: #fff;
}
.work--inner h4 {
  font-size: 24px;
  margin: 0;}
.proIco {
  font-size: 12px;
  margin: 30px 0 40px;
}
  .proIco--img {
    height: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .proIco--img img {
    display: inline-block !important;
  }

  .btn--ico {
    background: url("../images/btn--ico.png") left 20px center no-repeat, transparent;
    width: 238px;
  }

/*.popup-slider .item {*/
  /*position: relative; }*/
  /*.popup-slider .item__text {*/
    /*position: absolute;*/
    /*left: 12px;*/
    /*bottom: 12px;*/
    /*z-index: 3; }*/
    /*@media (min-width: 500px) {*/
      /*.popup-slider .item__text {*/
        /*left: 32px;*/
        /*bottom: 32px; } }*/
    /*.popup-slider .item__text h5 {*/
      /*padding: 5px 20px;*/
      /*background: #79ceee;*/
      /*color: #fff; }*/
    /*.popup-slider .item__text p {*/
      /*color: #fff;*/
      /*font-weight: 400; }*/
.popup-slider {
  margin-top: 15px;}
.popup-slider img {
  display: block; }

.popup-slider .owl-controls .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 20px; }
.mainSlider {margin-top: 22px;padding-top: 22px;position: relative;}
.mainSlider .slick-arrow, .popup-slider .owl-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;}
.popup-slider .owl-controls {
  bottom: 0;z-index: -1;}
.mainSlider .slick-prev {
  position: absolute;
  top: 57px;
  right: 23%;
  left: auto;}
.mainSlider .slick-next {
  position: absolute;
  top: 57px;
  right: 10%;
  left: auto; }
@media (min-width: 768px) {
  .mainSlider .slick-prev {
    top: 57px;
    left: 8%;
    right: auto; }
  .mainSlider .slick-next {
    top: 57px; }}
@media (min-width: 992px) {
  .mainSlider .slick-prev {
    right: 41%;
    left: auto; }}
@media (min-width: 1230px) {
  .mainSlider .slick-prev {
    right: 32%;
    left: auto;}
}
  .popup-slider .owl-controls .owl-prev {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: -23px;
    right: auto; }
  .popup-slider .owl-controls .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: -23px; }

@media (min-width: 768px) {
  .popup-slider .owl-controls .owl-prev {
    left: -45px;
    margin-top: 0;
    top: -4px;}
  .popup-slider .owl-controls .owl-next {
    right: -45px;
    margin-top: 0;
    top: -4px;}
  .popup-slider .owl-controls .owl-nav [class*="owl-"] {
    color: #fff;
    font-size: 30px; }
}
.secrets .mobile-slider  .owl-controls{
  display: none;
}
@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .col {
    padding-left: 15px;
    padding-right: 15px; } }

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5; }

.tabs {
  padding: 0;
  margin: 0; }
  @media (min-width: 1230px) {
    .tabs {
      position: absolute;
      right: 200px;
      top: 10px;
      z-index: 2; } }
  .tabs li {
    display: inline-block;
    margin: 5px 10px; }
    .tabs li a {
      color: #636363;
      text-transform: uppercase;
      text-decoration: underline; }
      .tabs li a:hover,
      .tabs li a:focus {
        text-decoration: none; }
    .tabs li.active a {
      color: red;
      text-decoration: none; }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgba(0, 0, 0, 0.75); }

.margright0 {
  margin-right: 0px; }

.margbot0 {
  margin-bottom: 0px; }

.margtop0 {
  margin-top: 0px; }

.margright10 {
  margin-right: 10px; }

.margbot10 {
  margin-bottom: 10px; }

.margtop10 {
  margin-top: 10px; }

.margright20 {
  margin-right: 20px; }

.margbot20 {
  margin-bottom: 20px; }

.margtop20 {
  margin-top: 20px; }

.margright30 {
  margin-right: 30px; }

.margbot30 {
  margin-bottom: 30px; }

.margtop30 {
  margin-top: 30px; }

.margright40 {
  margin-right: 40px; }

.margbot40 {
  margin-bottom: 40px; }

.margtop40 {
  margin-top: 40px; }

.margright50 {
  margin-right: 50px; }

.margbot50 {
  margin-bottom: 50px; }

.margtop50 {
  margin-top: 50px; }

.margright60 {
  margin-right: 60px; }

.margbot60 {
  margin-bottom: 60px; }

.margtop60 {
  margin-top: 60px; }

.margright70 {
  margin-right: 70px; }

.margbot70 {
  margin-bottom: 70px; }

.margtop70 {
  margin-top: 70px; }

.margright80 {
  margin-right: 80px; }

.margbot80 {
  margin-bottom: 80px; }

.margtop80 {
  margin-top: 80px; }

.margright90 {
  margin-right: 90px; }

.margbot90 {
  margin-bottom: 90px; }

.margtop90 {
  margin-top: 90px; }

.margright100 {
  margin-right: 100px; }

.margbot100 {
  margin-bottom: 100px; }

.margtop100 {
  margin-top: 100px; }

.padtopbot0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.padtop0 {
  padding-top: 0px; }

.padbot0 {
  padding-bottom: 0px; }

.padtopbot10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.padtop10 {
  padding-top: 10px; }

.padbot10 {
  padding-bottom: 10px; }

.padtopbot20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.padtop20 {
  padding-top: 20px; }

.padbot20 {
  padding-bottom: 20px; }

.padtopbot30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.padtop30 {
  padding-top: 30px; }

.padbot30 {
  padding-bottom: 30px; }

.padtopbot40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.padtop40 {
  padding-top: 40px; }

.padbot40 {
  padding-bottom: 40px; }

.padtopbot50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.padtop50 {
  padding-top: 50px; }

.padbot50 {
  padding-bottom: 50px; }

.padtopbot60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.padtop60 {
  padding-top: 60px; }

.padbot60 {
  padding-bottom: 60px; }

.padtopbot70 {
  padding-top: 70px;
  padding-bottom: 70px; }

.padtop70 {
  padding-top: 70px; }

.padbot70 {
  padding-bottom: 70px; }

.padtopbot80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.padtop80 {
  padding-top: 80px; }

.padbot80 {
  padding-bottom: 80px; }

.padtopbot90 {
  padding-top: 90px;
  padding-bottom: 90px; }

.padtop90 {
  padding-top: 90px; }

.padbot90 {
  padding-bottom: 90px; }

.padtopbot100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.padtop100 {
  padding-top: 100px; }

.padbot100 {
  padding-bottom: 100px; }

@media (min-width: 768px) {
  .pad0-md {
    padding: 0; } }

.padleft20 {
  padding-left: 20px; }
