extends layouts/_default

block content
    a#click(href="#", onclick="renderObject.start();return false;") Запустить
    #WebGL-output
    //- var title = { description: 'Typical' }
    ////img.margleft100(src="images/robot.png", alt="")
    ////a.view(style="position: absolute;top: 250px;right: 0;left: 0;margin:auto;width: 100px;height: 50px;color:#fff", href="#") PLAY >
    //video(src="video/shot_2and3_hi_quality_1_loop.mp4", autoplay, loop)
    //    //source#ss(src="video/shot_1.mp4", type='video/mp4')
    //
    //.menuDot
    //    .menuDot__item.menuDot__item-1
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-2
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-3
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-4
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-5
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    ////video#main(width="100%", preload="auto", poster="images/background.jpg")
    ////    source(src="video/shot_2and3.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    ////    source(src="video/shot_2and3.ogv", type='video/ogg; codecs="theora, vorbis"')
    ////    source(src="video/shot_2and3.webm", type='video/webm; codecs="vp8, vorbis"')
    ////    | Тег video не поддерживается вашим браузером.
