doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">

include ../mixins/_mixin
- var title = { description: 'Главная' }

head
  meta(charset="utf-8")
  title SV group
  meta(name="description", content="")
  //meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="favicon.ico")

  //- build:css({.tmp,app}) styles/vendor.css -->
  // bower:css
  link(rel='stylesheet', href='../bower_components/slick-carousel/slick/slick.css')
  link(rel='stylesheet', href='../bower_components/fullpage.js/jquery.fullPage.css')
  // endbower
  //link(rel="stylesheet", href="scripts/plugins/oliwpage/style.css")
  link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick-theme.css")
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.css -->
  link(rel="stylesheet", href="styles/main.css")
  //- endbuild -->

body
  #loader
    .circle
      img.load(src="images/loader.png", alt="")
  include ../modules/_modal
  video#myVideo(src="video/first_logo.mp4", autoplay)
  main(style="opacity:0;overflow:hidden")
    block content

  include ../modules/_footer

  //script(src='http://vjs.zencdn.net/4.3/video.js')
  script(src='http://threejs.org/build/three.min.js')
  //- build:js(./app/) scripts/vendor.js -->
  // bower:js
  script(src='../bower_components/jquery/dist/jquery.js')
  script(src='../bower_components/slick-carousel/slick/slick.js')
  script(src='../bower_components/fullpage.js/jquery.fullPage.js')
  script(src='../bower_components/fullpage.js/vendors/jquery.easings.min.js')
  script(src='../bower_components/fullpage.js/vendors/jquery.slimscroll.min.js')
  // endbower
  script(src='scripts/plugins/bootstrap.min.js')
  script(src='scripts/libs/stats.js')
  script(src='scripts/libs/dat.gui.js')
  script(src='scripts/libs/CanvasRenderer.js')
  script(src='scripts/libs/Projector.js')
  //- endbuild -->
  //- build:js(.tmp) scripts/main.js -->
  script(src="scripts/3d.js")
  script(src="scripts/main.js")
  //- endbuild -->

| </html>
